name: Java CI
on:
  push:
    paths:
      - 'src/main/java/**.java'
      - 'pom.xml'
      - '.github/workflows/build.yml'
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven
          server-id: output # Value of the distributionManagement/repository/id field of the pom.xml
      - name: Build with Maven
        run: |
          GITHUB_REPOSITORY=$(echo $GITHUB_REPOSITORY | cut -d'/' -f 2)
          echo "repository: $GIT_REPOSITORY"
          mvn --batch-mode deploy -Drepository=${GITHUB_REPOSITORY} -Downer=${GITHUB_REPOSITORY_OWNER}
        env:
          GITHUB_TOKEN: ${{ secrets.WRITE_PACKAGES }}
          GITHUB_REPOSITORY: ${{ GITHUB_REPOSITORY }}
          GITHUB_REPOSITORY_OWNER: ${{ GITHUB_REPOSITORY_OWNER }}
